{% extends '../base.html' %}

{% block css_link %}

<style>
    .main_list {
        text-align: center;
        padding: 5%;
    }
    a {text-decoration: none;color: black;}
    .main_mylist {
        list-style: none;
        text-align: center;
        margin: 0px;
        padding: 5%;
}
</style>

{% endblock %}

{% block contents %}
                <li class = "main_mylist">
                    <a href="/" class="main_text">fdsafsd</a>
                </li>
                <li class = "main_mylist">
                    <a href="/" class="main_text">약장수</a>
                </li>
                <li class = "main_mylist">
                    <a href="/" class="main_text">사진검색</a>
                </li>
                <li class = "main_mylist">
                    <a href="/" class="main_text">텍스트검색</a>
                </li>
                <li class = "main_mylist">
                    <a href="/" class="main_text">마이페이지</a>
                </li>
                
				
{% endblock %}
